version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    container_name: movie-explorer-backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://backend:8000/api/v1
    ports:
      - "5173:5173"
    depends_on:
      - backend
    container_name: movie-explorer-frontend
